<!-- App Top Bar -->
<app-top-bar></app-top-bar>

<!-- Infinite scroll content -->
<ion-content [fullscreen]="true">
    <mat-list *ngFor="let post of posts">
        <!-- Posts -->
        <app-post-view
            [post]=post
            [preview]=true
            (deleted)="removePost($event)"></app-post-view>
        <mat-divider class="mt-3 mb-1"></mat-divider>
    </mat-list>

    <span *ngIf="!posts.length">
        <p class="mat-body error-placeholder mt-4">
            It doesn't look like there's anything here.<br>
            Try following some more active accounts?
        </p>
    </span>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="fetchMorePosts($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
