<!-- App Top Bar TODO: Add title -->
<app-top-bar #header></app-top-bar>

<!-- <mat-toolbar class="top-bar mat-elevation-z2" [class.app-background-color]="!isDark" color="primary">
    <span class="ml-3 mr-2" [class.text-black]="!isDark">#{{hashtag}}</span>
    <div class="top-bar-logo logo mr-0"></div>
</mat-toolbar> -->

<ion-content
    [fullscreen]="true"
    scrollEvents='true'
    appHideToolbar
    [header]='header'>
    <!-- Recommendations grid -->
    <mat-tab-group>
        <mat-tab label="Recent">
            <app-post-preview-grid [posts]=posts.recent></app-post-preview-grid>
        </mat-tab>
        <mat-tab label="Top">
            <app-post-preview-grid [posts]=posts.top></app-post-preview-grid>
        </mat-tab>
    </mat-tab-group>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="fetchMoreResults($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>