<!-- <mat-toolbar class="bottom-bar mat-elevation-z2 d-flex flex-row justify-content-around" [class.app-background-color]="!isDark" color="primary">
    <span class="bottom-bar-icon">
        <i [routerLink]="['/']"
            [class.active]="activeNav === 'feed'"
            [class.icon-black]="!isDark"
            class="ti-crown"></i>
    </span>
    <span class="bottom-bar-icon">
        <i [routerLink]="['/recommendations']"
            [class.active]="activeNav === 'search'"
            [class.icon-black]="!isDark"
            class="ti-search"></i>
    </span>
    <span class="bottom-bar-icon">
        <i [routerLink]="['/new-post']"
            [class.active]="activeNav === 'new'"
            [class.icon-black]="!isDark"
            class="ti-plus"></i>
    </span>
    <span class="bottom-bar-icon">
        <i [routerLink]="['/notifications']"
            [class.active]="activeNav === 'notifications'"
            [class.icon-black]="!isDark"
            class="ti-heart"></i>
    </span>
    <span>
        <i [routerLink]="['/profile', username]"
            [class.active]="activeNav === 'user'"
            [class.icon-black]="!isDark"
            class="ti-user"></i>
    </span>
</mat-toolbar> -->

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="feed">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>Feed</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="recommendations">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Search</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="new-post">
            <ion-icon name="square"></ion-icon>
            <ion-label>New Post</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-icon name="square"></ion-icon>
            <ion-label>Notifications</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile/{{username}}">
            <ion-icon name="square"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
