<!-- Profile Row -->
<div class='d-flex justify-content-between align-items-center m-3'>
    <ion-avatar class='mr-3 avatar'>
        <img [src]="post.author.profilePic" [routerLink]="['/app', 'profile', post.author.username]"/>
    </ion-avatar>

    <h3 class='mb-0' [routerLink]="['/app', 'profile', post.author.username]"><ion-text color='dark'>{{post.author.username}}</ion-text></h3>
    <!-- Update to check if user following author -->
    <a mat-button color="accent" (click)="followUser(post.author.id)" *ngIf="!isFollowed"><ion-text color='dark'>Follow</ion-text></a>

    <div class='ml-auto text-right'>
        <ion-icon *ngIf="post.repost" color='dark' class="ti-reload"></ion-icon>

        <span class="post-datetime"><ion-text color='medium'>{{ post.createdAt | dateDiff }}</ion-text></span>

        <ion-icon color='dark' *ngIf="!post.repost" class="ti-menu-alt ml-3" [matMenuTriggerFor]="menu"></ion-icon>

        <!-- Post Menu -->
        <mat-menu #menu="matMenu" class="mat-elevation-z2">
            <button mat-menu-item *ngIf="post.author.id == user.id" (click)="deletePost()">
                <ion-icon color='dark' class="ti-trash"> Delete</ion-icon>
            </button>
            <button mat-menu-item *ngIf="post.author.id !== user.id" (click)="reportPost()">
                <ion-icon color='dark' class="ti-flag"> Report</ion-icon>
            </button>
            <button mat-menu-item  (click)="copyURL()">
                <ion-icon color='dark' class="ti-link"> Copy Link</ion-icon>
            </button>
        </mat-menu>
    </div>
</div>

<!-- Post Content -->
<div *ngIf="post.type.startsWith('image')">
    <!-- Caption Row -->
    <ng-container *ngIf="post.caption && displayRepost">
        <p class="mx-5 my-2">
            <ion-text color='dark'>
                <span [innerHTML]="post.caption | tag" appRouteTransformer></span>
            </ion-text>
        </p>
    </ng-container>

    <!-- Post Media -->
    <ion-img class="w-100 m-0" [src]="post.media" (dblclick)="likePost($event)"></ion-img>
</div>

<div *ngIf="post.type.startsWith('video')">
    <!-- Caption Row -->
    <ng-container *ngIf="post.caption && displayRepost">
        <p class="mx-5 my-2">
            <ion-text color='dark'>
                <span [innerHTML]="post.caption | tag" appRouteTransformer></span>
            </ion-text>
        </p>
    </ng-container>

    <!-- Post Media -->
    <video class="post-image"
        (dblclick)="likePost($event)"
        playsinline
        loop
        controls
        disablePictureInPicture
        controlsList="nofullscreen nodownload"
        preload="metadata">
        <source class="post-image"
            src="{{post.media}}#t=0.001"
            [type]="post.type"/>
    </video>
</div>

<div *ngIf="post.type == 'text' && (!post.repost || !displayRepost)">
    <mat-divider></mat-divider>
    <!-- Caption as Post -->
    <p class="text-post-container" (dblclick)="likePost($event)">
        <ion-text color='dark'>
            <span class="text-post my-3"
                [class.text-post-concat]="post.concat"
                (click)="post.concat = !post.concat"
                [innerHTML]="post.caption | tag"
                appRouteTransformer></span>
        </ion-text>
    </p>
    <mat-divider *ngIf="displayRepost"></mat-divider>
</div>

<div *ngIf="post.type.startsWith('url')">
    <!-- Caption Row -->
    <ng-container *ngIf="post.caption && displayRepost">
        <p class="mx-5 my-2">
            <ion-text color='dark'>
                <span [innerHTML]="post.caption | tag" appRouteTransformer></span>
            </ion-text>
        </p>
    </ng-container>

    <!-- URL Preview -->
    <a [href]="mediaPreview?.url" target="_blank" (dblclick)="likePost($event)">
        <mat-card *ngIf="mediaPreview">
            <mat-card-header *ngIf="mediaPreview?.title" class="d-flex">
                <mat-card-title class="d-flex justify-content-between">{{ mediaPreview?.title }} <i class="d-flex ti-link"></i></mat-card-title>
            </mat-card-header>

            <mat-divider *ngIf="mediaPreview?.title"></mat-divider>

            <img *ngIf="mediaPreview?.image" mat-card-image [src]="mediaPreview?.image" [alt]="mediaPreview?.title">

            <mat-card-content  *ngIf="mediaPreview?.description">
                <ion-text color='dark'><p class="mt-3">{{ mediaPreview?.description }}</p></ion-text>
            </mat-card-content>
        </mat-card>
    </a>
</div>

<div *ngIf="post.type == 'text' && post.repost && displayRepost">
    <!-- Caption Row -->
    <ng-container *ngIf="post.caption">
        <p class="mx-3 my-4">
            <ion-text color='dark'>
                <span [innerHTML]="post.caption | tag" appRouteTransformer></span>
            </ion-text>
        </p>
    </ng-container>
</div>

<div *ngIf="post.repost && displayRepost"
    class="px-3 py-0 my-0"
    [routerLink]="['/app', 'post', post.repostOf.id]" >
    <div class="mat-card p-0">
        <span class="mat-card-content repost">
            <app-post-display
                [post]="post.repostOf"
                [user]="user"
                [isFollowed]="true"
                [displayRepost]="false"></app-post-display>
        </span>
    </div>
</div>