<!-- Blocked User Menu -->
<mat-nav-list class="d-flex flex-row justify-content-around p-0">
    <ion-item class="h-100 d-flex justify-content-center align-content-center" (click)="close('unblock')">
        <ion-text color='dark'><p class="p-3 my-1">Unblock</p></ion-text>
    </ion-item>
    <ion-item class="h-100 d-flex justify-content-center align-content-center" (click)="close('cancel')">
        <ion-text color='dark'><p class="p-3 my-1">Cancel</p></ion-text>
    </ion-item>
</mat-nav-list>
