<app-top-bar></app-top-bar>

<ion-content [fullscreen]="true">
    <mat-list *ngIf="profiles.length" class="mb-2">
        <mat-list-item *ngFor="let result of profiles">
            <mat-divider></mat-divider>
            <img matListAvatar [src]="result.profilePic" class="avatar"  [routerLink]="['/app', 'profile', result.username]"/>
            <h3 matLine>
                <span *ngIf="type !== 'blocked'" [routerLink]="['/app', 'profile', result.username]" class="mat-h3 font-weight-bold">{{result.username}}</span>
                <span *ngIf="type === 'blocked'" (click)="openDialog(result)" class="mat-h3 font-weight-bold">{{result.username}}</span>
            </h3>
        </mat-list-item>
    </mat-list>
</ion-content>
