<app-top-bar #header></app-top-bar>

<ion-content
    [fullscreen]="true"
    scrollEvents='true'
    appHideToolbar
    [header]='header'>
    <ion-list *ngIf="profiles.length" class="mb-2">
        <ion-item *ngFor="let result of profiles">
            <mat-divider></mat-divider>
            <img matListAvatar [src]="result.profilePic" class="avatar"  [routerLink]="['/app', 'profile', result.username]"/>
            <ion-text color='dark'>
                <h3 matLine>
                    <span *ngIf="type !== 'blocked'" [routerLink]="['/app', 'profile', result.username]" class="mat-h3 font-weight-bold">{{result.username}}</span>
                    <span *ngIf="type === 'blocked'" (click)="openDialog(result)" class="mat-h3 font-weight-bold">{{result.username}}</span>
                </h3>
            </ion-text>
        </ion-item>
    </ion-list>
</ion-content>
